<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">		
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="generator" content={Astro.generator} />
		<title>marqu-eee</title>
		<meta name="description" content="A web component for the 20th century.">
	</head>
	<body class="bg-neutral-900 text-neutral-50">
		<slot />
	</body>
</html>

<style>
html,
body {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
}

* {
	margin: 0
}
</style>

<script>
import "marqu-eee-wc"
</script>
